<h1>Le Boba</h1>

<div>
    <h3>Milk Tea <input type="text" /></h3> 
    <br/>
    <h3>Fruit Tea <input type="text" /></h3>
</div>

<a href="#">Submit</a>


<div>
    <h2>Pending</h1>
    <ul>
        <li></li>
    </ul>
</div>